@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#701B4A;
  --secondary:#F79428;
  --gold:#C5973A;
  --lightGray:#333333;
  --extraLightGray: #b8b8b8;
  --offWhite:#f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gold:var(--gold);
  --color-offWhite:var(--offWhite);
  --color-lightGray:var(--lightGray);
  --color-extraLightGray:var(--extraLightGray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}